.container {
    width: 100%;
}

.container__inner-container {
    padding: $space-3;
    width: 100%;
}

.container__inner-container--small {
    padding-bottom: $space-2;
    padding-top: $space-2;
    width: 100%;
}
