.random-btn {
    align-self: center;
    height: 36px;
    width: 36px;

    @media (min-width: $breakpoint_small) {
        height: 3rem;
        width: 3rem;
    }
}

.random-btn-icon {
    fill: none;
    stroke: currentColor;
}

.random-btn--active {
    background-color: $color_primary;

    &:focus {
        background-color: $color_primary;
    }

    &:hover {
        background-color: $color_primary-dark;
    }

    .random-btn-icon {
        fill: $color_white;
        stroke: $color-white;
    }
}
