.tone-toggles {
    display: flex;
    flex-direction: column;
}

.tone-toggles__container {
    align-content: stretch;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 $space-1;

    @media (min-width: $breakpoint_small) {
        flex-direction: row;
    }
}

.tone-toggles__beat-container {
    align-items: stretch;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    padding: $space-1;
    transition: background-color $transition-duration-base $transition-timing-base;

    @media (min-width: $breakpoint_small) {
        flex-direction: column;
        justify-content: space-between;
    }

    @media (min-width: $breakpoint_medium) {
        padding: $space-2;
    }
}

.tone-toggles__beat-container--active {
    background-color: $color_tan-2;

    .tone-toggles__toggle--active {
        transform: scaleX(0.96);
    }
}

.tone-toggles__toggle {
    align-items: center;
    background-color: $color_tan-2;
    border: 2px solid $color_tan-4;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    justify-content: center;
    margin: 0 $space-1 0 0;
    min-width: 1rem;
    transition: all $transition-duration-base $transition-timing-base;
    width: 100%;

    &:hover,
    &:focus {
        background-color: $color_tan-3;
        color: rgba(0, 0, 0, 0.9);
        cursor: pointer;
        outline: none;
        transform: scaleX(0.99);
    }

    @media (min-width: $breakpoint_small) {
        border-radius: 8px;
        margin: 0 0 $space-2 0;
    }
}

.tone-toggles__display {
    display: block;
    font-size: $font-size_16;
    line-height: 1;
    pointer-events: none;
    user-select: none;

    @media (min-width: $breakpoint_medium) {
        font-size: $font-size_20;
    }
}

.tone-toggles__display--inactive {
    display: none;
}
