/**************************************
TYPOGRAPHY & SIZING
**************************************/
/**************************************
GRIDS AND SPACING
**************************************/
/**************************************
COLOR PALETTE
**************************************/
/**************************************
ANIMATION BEHAVIORS
**************************************/
/**************************************
STYLING
**************************************/
/**************************************
RESPONSIVE BREAKPOINTS
**************************************/
@media (max-width: 43rem) {
  .bp1-hidden {
    display: none !important;
  }
}

@media (min-width: 43rem) {
  .bp1-visible {
    display: none;
  }
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #111112;
  background-color: #FFFFFF;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.75rem;
  display: block;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*! de-style.css v1.0.3 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model
   ========================================================================== */
/*
 ALL INTERACTIVE CONTROLS
*/
h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

h2 {
  font-weight: 500;
  font-weight: 700;
  line-height: 2rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
@media (max-width: 43rem) {
  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

label, p.control-label, p.control-readout {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
  display: block;
}
@media (max-width: 43rem) {
  label, p.control-label, p.control-readout {
    font-size: 0.8125rem;
  }
}

p.content {
  margin-bottom: 1rem;
}
p.content:last-child {
  margin-bottom: 0;
}

p.note-display, p.beat-display {
  margin: 0;
  color: inherit;
  font-size: 2rem;
  line-height: 1;
  font-weight: bolder;
  pointer-events: none;
}
@media (max-width: 56rem) {
  p.note-display, p.beat-display {
    font-size: 1.25rem;
  }
}

p.beat-display {
  font-size: 1.25rem;
}

.inactive-display {
  display: none;
}

.heavy {
  font-weight: 700;
}

.small {
  font-size: 0.9375rem;
}

/**************************************
GLOBAL PADDING FOR CORE LAYOUT
**************************************/
#top-bar, #control-bar, #about-modal {
  padding-left: 3rem;
  padding-right: 3rem;
}
@media (max-width: 43rem) {
  #top-bar, #control-bar, #about-modal {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

/**************************************
MAIN INTERACTION AREA
**************************************/
#main-container {
  padding: 0 1rem;
  height: calc(100vh - 3.25rem - 6rem);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
@media (max-width: 43rem) {
  #main-container {
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    padding: 0;
  }
}

/**************************************
TOP BAR AND CONTROLS
**************************************/
#top-bar, #control-bar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

#top-container, #controls-container {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

#top-container {
  align-items: center;
}

#top-bar {
  height: 3.25rem;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  border-bottom: 1px solid #ebedef;
}

#control-bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 6rem;
  border-top: 1px solid #dee1e3;
}

#controls-container {
  margin: 0 auto;
  max-width: 80rem;
  max-height: 4rem;
}

/**************************************
INDIVIDUAL CONTROL ELEMENT CONTAINERS
**************************************/
.btn-element, .control-element {
  width: 100%;
  margin-left: 2.5rem;
}
@media (max-width: 43rem) {
  .btn-element, .control-element {
    width: auto;
    margin-left: 1.5rem;
  }
}
.btn-element:first-child, .control-element:first-child {
  margin-left: 0;
}

.btn-element {
  text-align: center;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

/**************************************
MODAL
**************************************/
.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 100;
  opacity: 0;
  background-color: #f8f9fa;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  -webkit-transition: visibility 0.15s linear;
  -moz-transition: visibility 0.15s linear;
  -ms-transition: visibility 0.15s linear;
  -o-transition: visibility 0.15s linear;
  transition: visibility 0.15s linear;
}

.modal.visible {
  opacity: 0.95;
  visibility: visible;
  pointer-events: auto;
  -webkit-transition: visibility 0.15s linear;
  -moz-transition: visibility 0.15s linear;
  -ms-transition: visibility 0.15s linear;
  -o-transition: visibility 0.15s linear;
  transition: visibility 0.15s linear;
  -webkit-transition: opacity 0.15s ease-in;
  -moz-transition: opacity 0.15s ease-in;
  -ms-transition: opacity 0.15s ease-in;
  -o-transition: opacity 0.15s ease-in;
  transition: opacity 0.15s ease-in;
}

.about-content {
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 100%;
  max-width: 38rem;
}

/**************************************
GENERAL POSITIONING
**************************************/
@media (max-width: 43rem) {
  .t-ctr-bp1 {
    text-align: center;
  }
}

.content-section {
  margin-bottom: 2rem;
}

.tone-toggles-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
@media (max-width: 56rem) {
  .tone-toggles-container {
    padding: 1.5%;
  }
}
@media (max-width: 43rem) {
  .tone-toggles-container {
    padding: 0.5rem 1rem;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
  }
}

.active-beat-container {
  background-color: #f8f9fa;
}

.tone-toggle {
  width: 100%;
  min-width: 1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border: 0.125rem solid #dee1e3;
  color: #C2C8CB;
  transition: transform 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.tone-toggle:last-child {
  margin-bottom: 0;
}
@media (max-width: 43rem) {
  .tone-toggle {
    width: 100%;
    height: 2.5rem;
    margin-right: 0;
    margin-bottom: 0;
  }
  .tone-toggle:last-child {
    margin-bottom: 0;
  }
}

.tone-toggle:hover {
  cursor: pointer;
  background-color: #dee1e3;
  border-color: #dee1e3;
  color: #3e3e42;
  -moz-transform: scale(0.985);
  -o-transform: scale(0.985);
  -ms-transform: scale(0.985);
  -webkit-transform: scale(0.985);
  transform: scale(0.985);
}

a {
  color: #650cb9;
  text-decoration: none;
  border-bottom: 1px solid #650cb9;
}

a:hover {
  border: none;
  opacity: 0.75;
}

a:visited {
  color: #650cb9;
}

/*
 ALL INTERACTIVE CONTROLS
*/
input, button {
  height: 2.5rem;
  background: #ebedef;
  font-size: 0.875rem;
  line-height: 1rem;
  font-family: inherit;
  cursor: pointer;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

button {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  color: #111112;
  border: none;
  text-align: center;
  text-decoration: none;
  padding-top: 0rem;
  padding-right: 1.25rem;
  padding-bottom: 0rem;
  padding-left: 1.25rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
}

button:hover, button:focus {
  background-color: #ebedef;
}

button > * {
  pointer-events: none;
}

.primary-button {
  height: 4rem;
  width: 4rem;
  background-color: #650cb9;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: center;
}

.primary-button:hover, .primary-button:focus {
  background-color: #490985;
}

.icon-button {
  width: 2.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.icon-button:active {
  background-color: #650cb9;
}

.text-button {
  display: block;
  height: 1.75rem;
  border: none;
  background: none;
  text-align: left;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-bottom: 1px solid #650cb9;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #650cb9;
}

.text-button:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  border-bottom: none;
}

.text-button:focus {
  background-color: #FFFFFF;
}

.toggle-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
}

.toggle {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.toggle:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0.25rem;
  -webkit-border-top-left-radius: 0.25rem;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0.25rem;
  -moz-border-radius-topleft: 0.25rem;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0.25rem;
}
.toggle:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0.25rem;
  -webkit-border-bottom-right-radius: 0.25rem;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0.25rem;
  -moz-border-radius-bottomright: 0.25rem;
  -moz-border-radius-bottomleft: 0;
}

.toggle.selected {
  background-color: #650cb9;
  color: #FFFFFF;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  margin: 0;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  animation: 0.15s;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  border: 0px solid #ebedef;
  border-radius: 0.25rem;
  background: #ebedef;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
  border: 0px solid #650cb9;
  border-radius: 100%;
  background: #650cb9;
  -webkit-appearance: none;
  margin-top: -0.675rem;
}
input[type=range]::-webkit-slider-thumb:focus {
  -webkit-box-shadow: #8F27F1 0px 0px 0px 0.25rem;
  -moz-box-shadow: #8F27F1 0px 0px 0px 0.25rem;
  box-shadow: #8F27F1 0px 0px 0px 0.25rem;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ebedef;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  animation: 0.15s;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  border: 0px solid #ebedef;
  border-radius: 0.25rem;
  background: #ebedef;
}
input[type=range]::-moz-range-thumb {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
  border: 0px solid #650cb9;
  border-radius: 100%;
  background: #650cb9;
}
input[type=range]::-moz-range-thumb:focus {
  -webkit-box-shadow: #8F27F1 0px 0px 0px 0.25rem;
  -moz-box-shadow: #8F27F1 0px 0px 0px 0.25rem;
  box-shadow: #8F27F1 0px 0px 0px 0.25rem;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  animation: 0.15s;
  color: transparent;
  border-width: 1.75rem 0;
  border-color: transparent;
  background: transparent;
}
input[type=range]::-ms-fill-lower {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  border: 0px solid #ebedef;
  border-radius: 0.5rem;
  background: #ebedef;
}
input[type=range]::-ms-fill-upper {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  border: 0px solid #ebedef;
  border-radius: 0.5rem;
  background: #ebedef;
}
input[type=range]::-ms-thumb {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
  border: 0px solid #650cb9;
  border-radius: 100%;
  background: #650cb9;
}
input[type=range]::-ms-thumb:focus {
  -webkit-box-shadow: #8F27F1 0px 0px 0px 0.25rem;
  -moz-box-shadow: #8F27F1 0px 0px 0px 0.25rem;
  box-shadow: #8F27F1 0px 0px 0px 0.25rem;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ebedef;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ebedef;
}

.slider-info-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.slider-readout {
  margin-left: 0.5rem;
}

/**************************************
SPECIFIC CONTROL ELEMENTS
**************************************/
@media (max-width: 43rem) {
  .tempo-control {
    -webkit-box-flex: auto;
    -moz-box-flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
  }
}

.pause-btn {
  background-image: url(../assets/icons/pause.svg);
}

.play-btn {
  background-image: url(../assets/icons/play.svg);
}

#refresh-btn {
  background-image: url(../assets/icons/refresh.svg);
}

#clear-btn {
  background-image: url(../assets/icons/clear.svg);
}

#about-modal-close {
  position: absolute;
  top: 1.25rem;
  right: 3rem;
  background-image: url(../assets/img/close.svg);
}
@media (max-width: 43rem) {
  #about-modal-close {
    top: 1rem;
    right: 1rem;
  }
}

@media (max-width: 43rem) {
  .random-btn {
    margin-left: 0.5rem;
  }
}

.random-btn-off {
  background-color: #FFFFFF;
  border: 1px solid #dee1e3;
  background-image: url(../assets/icons/random-unselected.svg);
}

.random-btn-on, .random-btn-on:hover, random-btn:focus {
  background-color: #650cb9;
  color: #FFFFFF;
  background-image: url(../assets/icons/random-selected.svg);
}

/*# sourceMappingURL=main.css.map */
