.mobile-hidden {
    display: none;

    @media (min-width: $breakpoint_small) {
        display: unset;
    }
}

.mobile-visible {
    display: inherit;

    @media (min-width: $breakpoint_small) {
        display: none;
    }
}
