.mobile-hidden {
    display: none;

    @media (min-width: $breakpoint_medium) {
        display: inherit;
    }
}

.mobile-visible {
    display: inherit;

    @media (min-width: $breakpoint_medium) {
        display: none;
    }
}
