/// ===========================================
/// CONTAINER FOR EACH SET OF TONE TOGGLES
/// ===========================================

.tone-toggles-container {
  // FLEXBOX CONTAINER
  @include flexbox;
  @include flex-flow(column nowrap);
  @include justify-content(space-between);
  @include align-items(center);
  // LAYOUT
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  // BEHAVIOR
  @include transition(all $animate-time-fast ease-in-out);
  // SMALLEST SCREENS
  @include bp2 {
    padding: 1.5%;
  }
  @include bp1 {
    padding: 0.5rem 1rem;
    @include flex-flow(row nowrap);
    @include justify-content(flex-start);
  }
}

.active-beat-container {
  // APPEARANCE
  background-color: $gray-1;
  @include bp1 {
    background-color: $gray-2;
  }
}

/// ===========================================
/// TONE TOGGLES
/// ===========================================

// TONE TOGGLE DEFAULT STATE
.tone-toggle {
 // LAYOUT
 width: 100%;
 min-width: $spacing-unit;
 margin-bottom: 1rem;
 &:last-child {
   margin-bottom: 0;
 }
 // FLEX CONTAINER SETTINGS
 @include flexbox();
 @include flex-flow(column nowrap);
 @include justify-content(center);
 @include align-items(center);
 // FLEX ITEM SETTINGS
 @include flex(1);
 // APPERANCE
 background-color: $gray-1;
 @include border-radius($btn-border-radius);
 border: 0.125rem solid $gray-3;
 // TEXT
 color: $gray-4;
 // BEHAVIOR
 transition: transform $animate-time-fast ease-in-out;
 @include transition(all $animate-time-fast ease-in-out);
 @include bp1 {
   width: 100%;
   height: 2.5rem;
   margin-right: 0.5rem;
   margin-bottom: 0;
   &:last-child {
     margin-right: 0;
   }
 }
}

// GLOBAL TOGGLE HOVER BEHAVIOR
.tone-toggle:hover {
  // APPEARANCE
  cursor: pointer;
  background-color: $gray-3;
  border-color: $gray-3;
  // TEXT
  color: $gray-5;
  // BEHAVIOR
  @include scale(0.985);
}
