html {
    color: $color_text;
    font-family: $font-family_body;
    font-size: 100%;
    font-weight: $font-weight_normal;
    line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family_heading;
    font-weight: $font-weight_normal;
    margin: 0;
}

h1 {
    font-size: $font-size_16;
    line-height: 1.25rem;

    @media (min-width: $breakpoint_small) {
        font-size: $font-size_18;
    }
}

p {
    font-size: $font-size_16;
    line-height: 1.5rem;
    margin: 0;

    @media (min-width: $breakpoint_small) {
        font-size: $font-size_18;
    }
}
